<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Podesavanja">
		<title>Podešavanje</title>
		<size>232,171</size>
		<focused>1</focused>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Broj udp porta preko koga će se slati i</label>
			<pos>16,16</pos>
			<size>208,13</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="port" member="yes">
			<value>port</value>
			<pos>96,32</pos>
			<size>72,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>Ukoliko neznaš šta radiš nemoj ništa menjati.</label>
			<pos>8,120</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Potvrdi</label>
			<default>1</default>
			<pos>24,144</pos>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Poništi</label>
			<pos>120,144</pos>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>Automatski osveži kontakt listu na svakih</label>
			<pos>16,64</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="interval" member="yes">
			<value>interval</value>
			<pos>16,80</pos>
			<size>40,21</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>minuta.</label>
			<pos>64,88</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>primati poruke.</label>
			<pos>16,40</pos>
		</object>
	</object>
</wxsmith>
