<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Poruka">
		<size>215,346</size>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>168,304</pos>
			<size>224,312</size>
			<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="poruka" member="yes">
				<pos>8,248</pos>
				<size>144,48</size>
				<focused>1</focused>
				<style>wxTE_MULTILINE|wxTE_RICH</style>
				<handler function="OnporukaTextEnter" entry="EVT_TEXT_ENTER" />
			</object>
			<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
				<label>Pošalji</label>
				<default>1</default>
				<pos>152,248</pos>
				<size>56,48</size>
				<focused>1</focused>
				<handler function="OnButton1Click" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Nadimak:</label>
				<pos>8,16</pos>
				<font>
					<weight>bold</weight>
				</font>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="nadimak_gore" member="yes">
				<label>Miroslav &lt;192.168.0.3&gt;</label>
				<pos>72,16</pos>
			</object>
			<object class="Custom" name="ID_RICHTEXTCTRL1" subclass="wxRichTextCtrl" variable="rt" member="yes">
				<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),wxEmptyString,$(POS),$(SIZE));</creating_code>
				<include_file>wx/richtext/richtextctrl.h</include_file>
				<style></style>
				<pos>8,32</pos>
				<size>200,216</size>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-10</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="FD" member="yes">
			<message>Izaberi fajl</message>
			<default_dir>c:\\</default_dir>
		</object>
	</object>
</wxsmith>
